# Ignore compiled files
*.o
*.a
*.so
*.exe
*.out
app.dSYM
app
dependencies

# Ignore IDE related files
.vscode/
.idea/
*.sublime-workspace
.DS_Store

# Ignore log files
*.log

# Ignore dependency packages
node_modules/
vendor/

# Ignore environment configuration files
.env
config.json

# Ignore ImGui config
imgui.ini